{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account Pending Approval</h5>
                    <p class="card-text">Thank you for registering! Your account is currently pending approval by an administrator. You will receive a notification once your account has been approved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
